{
  "latest_version": "0.2.0",
  "download_url": "https://github.com/Jawerka/MeshPad/releases/download/v0.2.0/meshpad-0.2.0.apk",
  "windows_download_url": "https://github.com/Jawerka/MeshPad/releases/download/v0.2.0/meshpad-0.2.0-windows-x64.zip",
  "windows_installer_url": "https://github.com/Jawerka/MeshPad/releases/download/v0.2.0/meshpad-0.2.0-windows-x64-setup.exe"
}
